@import './variables.css';

html {
	height: -webkit-fill-available;
}
body {
	margin: auto;
	max-width: 1440px;
	font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
