.main {
	margin: 0px 100px;
}

.main .home_background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url(../../assets/img/home_background.svg);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 223px;
	border-radius: 25px;
	margin-bottom: 43px;
}

.main .home_background p {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 25px;
	backdrop-filter: brightness(0.8);
	width: 100%;
	height: 100%;
	font-size: 48px;
	font-weight: 500;
	line-height: 68.5px;
	color: var(--tertiary-color);
}

.main .home_content {
	width: 100%;
	height: 100%;
	background-color: var(--secondary-color);
	border-radius: 25px;
}

.main .home_content .cards {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 31px 20px;
}

.main .home_content .cards a {
	text-decoration: none;
	margin: 25px 30px;
}

@media screen and (max-width: 768px) {
	.main {
		margin: 0px 20px;
	}
	.main .home_background {
		justify-content: flex-start;
		width: 100%;
		height: 111px;
		margin-bottom: 22px;
	}
	.main .home_background p {
		width: 65%;
		padding-right: 30%;
		font-size: 24px;
		line-height: 24px;
		padding-left: 16px;
	}
	.main .home_content {
		background-color: transparent;
	}
	.main .home_content .cards {
		padding: 0;
	}
	.main .home_content .cards a {
		margin: 10px 0;
	}
}
