.card {
	cursor: pointer;
	position: relative;
	display: flex;
	width: 340px;
	height: 340px;
	background-color: var(--primary-color);
	background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
	border-radius: 10px;
}

.card img {
	position: relative;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}

.card:after {
	content: '';
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
}

.card h2 {
	font-size: 18px;
	font-weight: 500;
	line-height: 25.6px;
	position: absolute;
	width: 90%;
	margin: 20px;
	bottom: 0px;
	z-index: 5;
	color: var(--tertiary-color);
}
