.collapse_menus {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 31px;
	width: 82.5%;
}

.collapse_menus .infos_container {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1023px;
	border-radius: 10px;
	color: var(--tertiary-color);
	background-color: var(--secondary-color);
}

.collapse_menus .infos_container .infos_title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--primary-color);
	width: 100%;
	height: 52px;
	border-radius: 10px;
}

.collapse_menus .infos_container .infos_title h3 {
	margin-left: 20px;
	font-size: 24px;
	font-weight: 500;
	line-height: 34.22px;
}

.collapse_menus .infos_container .infos_title button {
	border: none;
	outline: none;
	color: white;
	background-color: transparent;
}

.collapse_menus .infos_container .infos_title button:hover {
	cursor: pointer;
}

.collapse_menus .infos_container .infos_title button .fa-chevron-down,
.collapse_menus .infos_container .infos_title button .fa-chevron-up {
	width: 32px;
	height: 32px;
	margin-right: 9px;
}

.collapse_show {
	display: block;
}

.collapse {
	display: none;
}

.collapse_menus .infos_container ul {
	list-style: none;
	color: var(--primary-color);
	font-weight: 400;
	font-size: 18px;
	line-height: 26px;
	margin-left: -20px;
}

.collapse_menus .infos_container p {
	color: var(--primary-color);
	margin-left: 20px;
	font-size: 24px;
	font-weight: 400;
	line-height: 34.22px;
	width: 95.6%;
}
